.app-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100vh;
	background-color: #fcfaf8;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top-level-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 97%;
	padding-left: 25px;
	padding-top: 25px;
	gap: 5px;
	margin-bottom: 1rem;
	position: relative;
}

.second-level-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 97%;
	padding-left: 25px;
	gap: 5px;
	margin-bottom: 1rem;
	position: relative;
}

.main-options {
	display: flex;
	justify-content: flex-start;
	gap: 30px;
}

.footer {
	margin-top: auto;
	margin-left: auto;
	padding-right: 1%;
}

img {
	height: 50px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	color: #00a0e9;
}

.content {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	padding: 2% 2% 1% 2%;
	gap: 2rem;
	box-sizing: border-box;
}


.summarize-button {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 8px;

	color: #fff;
	border: none;
	border-radius: 25px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 500;
	z-index: 0;
	overflow: hidden;
}

.summarize-button-on{
	background: rgba(3, 3, 5, 0.95);
	cursor: pointer;
	transition: transform 0.2s ease;
}

.summarize-button-on::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	padding: 3px;
	transition: background 0.4s ease;
	background: linear-gradient(135deg, #7b61ff, #4adede, #8ef6ff);
	-webkit-mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	z-index: -1;
}

.summarize-button-on:hover {
	transform: translateY(-2px);
	filter: brightness(1.1);
}

.summarize-button-on:active {
	transform: scale(0.97); /* slightly shrink */
	filter: brightness(0.9); /* darker look */
	transition:
		transform 0.05s ease,
		filter 0.05s ease;
}


.summarize-button-on::before {
	background-size: 300% 300%;
	animation: gradientShift 4s ease infinite;
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Icon styling */
.summarize-button .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.summarize-button-off {
	background: rgba(189, 189, 189, 0.95);
	cursor: default;
}